.container {
  height: 100vh;
  width: 100vw;
}

.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.main {
  flex: 1;
  background: linear-gradient(103deg, #000 17.75%, #052B35 100%);
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255)
}