* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

.container {
    height: 100vh;
    width: 100vw;
}

.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.main {
    flex: 1;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.section {
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
}

.current-section {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

.section-container-main {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    z-index: 1;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: 1;
}

p {
    font-size: 16px;
    font-family: "jetbrains mono";
    color: black;

    transition: color 0.3s ease-in-out;
}

.page-main-section-h1 {
    padding-right: 100px;
    height: 25vh;
    display: flex;
    align-items: center;
}

.page-main-section-h2 {
    padding-right: 100px;
    height: 50vh;
    display: flex;
    align-items: center;
}

.page-section-h1 {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section-h2 {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-section-h3 {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    transition: color 0.3s ease-in-out;
}

h2 {
    font-size: 50px;
    transition: color 0.3s ease-in-out;
}

h5 {
    font-size: 16px;
    color: black;
}

.colormode {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.colormode button {
    border-radius: 0;
    width: 3vw;
    height: 3vw;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.sidenav-button:focus,
.sidenav-button:active,
.sidenav-button:hover,
button:focus,
button:active,
button:hover,
button {
    outline: none;
    border: none;
}

.project-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    height: max-content;
    box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
    border: thin solid rgb(38, 57, 77);

}

.project-image-container img {
    border-radius: 10px;
    height: 100%;

}



.project-card:hover .project-image-above {
    transform: translateY(0);

}

.project-card:hover .project-image-below {
    transform: translateY(100%);
}

.project-card:hover .technology-pill-container {
    transform: translateY(0);
    margin-top: 10px;
}

.project-card h4 {
    z-index: 2
}

.technology-pill-container {

    transition: transform 0.3s ease-in-out, margin-top 0.3s ease-in-out;
    transform: translateY(-100%)
}


.project-image-above {
    position: absolute;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
    will-change: transform;
    z-index: 2;
}

.project-image-below {
    position: relative;
    transition: transform 0.3s ease-in-out;
    transform: translateY(0);
    will-change: transform;
    z-index: 1;
}



.project-card a,
.project-card button {
    font-family: 'jetbrains mono';
    font-size: 1.2em;
}

.project-card a:hover {
    scale: 1.05;
}

.project-card button {
    transition: transform 0.3s ease-in-out;
}

.project-link-span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: scale 0.2s ease-in-out, width 0.2s ease-in-out;
}

.project-link-span:hover {
    justify-content: space-between;
    width: 115%;
}

.project-card button:hover {
    transform: perspective(200px) rotateX(15deg) rotateY(15deg);
}

.sun-icon {
    height: 28.8px;
}

.moon-icon {
    height: 32px;
}

/* .colormode button:hover .sun-icon,
.colormode button:hover .moon-icon {
    transform: rotate(90deg);
} 

.colormode button:focus {
    outline: none;
} */


/* width */
::-webkit-scrollbar {
    width: 10px;


}

/* Track */
::-webkit-scrollbar-track {
    background: #a0a0a0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666666;
}