:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: underline;
  
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100svh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.sidenav-button span {
    font-size: 23px;
  }

.project-card {
    min-width: 400px;
    height: 100%;
    background-color: #000000;
    border-radius: 20px;
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

.connect-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
}

.connect-grid-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 16px;
}

.text-box {
    width: 50vw;
    transform: translateY(-25%);
    position: relative;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 30px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  .page-main-section-h1, .page-main-section-h2 {
    padding-right: 1em;
  }
  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
    h2 {
        font-size: 1.2em;
    }
  button {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
  .colormode {
    flex-direction: row;
  }

  .projects-box {
    margin-left: 60px
  }

  .projects-box span {
    font-size: small;
  }

  .project-card {
    min-width: 300px;
    margin: 0 7px
  }

  .page-section-h35{
    margin-bottom: 20px;
  }

  .modal {
    margin-left: 20px;
    height: 60svh;
  }

  .connect-grid {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 20px;
    height: 100%;
    gap: 10px
  }

  .connect-grid-item {
    flex-direction: column;
    font-size: small;
  }

  .colormode button {
    width: 35px;
    height: 35px;
  }

  .career-timeline {
    scale: 0.4;
  }

  .text-box {
    padding: 20px;
    margin-left: 50px;
    width: 80vw;
    height: 35vh;
  }
}
